{% extends 'contents/base.html' %}
{% load static %}
{% block content %}
    <!-- Start Loader -->
    <div class="section-loader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Loader -->

    <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#mh-home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-experience">Experiences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-portfolio">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#mh-contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="mh-home image-bg" id="mh-home" style="background-image: url({% static 'assets/images/Data-Science.png' %});">
        <div style="background-color: rgba(255, 255, 255, 0.9);">
            <div class="container">
                <div class="row section-separator xs-column-reverse vertical-middle-content home-padding">
                    <div class="col-sm-6">
                        <div class="mh-header-info">
                            <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                <span style="color: white">Hello I'm</span>
                            </div>

                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">{{ seej.first_name }} {{ seej.last_name }}</h2>
                            <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">{{ seej.profile.title }}</h4>

                            <ul>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="mailto:{{ seej.email }}">{{ seej.email }}</a></li>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a>{{ seej.profile.contact_no }}</a></li>
                                <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><a>{{ seej.profile.address }}</a></li>
                            </ul>

                            <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <li><a href="{{ seej.profile.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="{{ seej.profile.github_url }}" target="_blank"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <div class="img-border">
                                <img src="{{ seej.profile.image.url }}" alt="Chris John Agarap" width="360px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mh-about" id="mh-about">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                        <img src="{% static 'assets/images/ab-img.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="mh-about-inner">
                        <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">{{ seej.profile.about_me }}</p>
                        <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <ul>
                                {% for skill in top_skills %}
                                    <li><span>{{ skill.name }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a href="{% url 'resume' seej.profile.user.pk %}" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s" target="_blank">View Resume<i class="fa fa-file"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mh-service">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h2>What I do</h2>
                </div>
                {% for f in focus %}
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="fa fa-{{ f.icon }}" style="color: {{ f.color }}"></i>
                            <h3 style="color: white;">{{ f.name }}</h3>
                            <p style="color: white;">
                                {{ f.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--
    ===================
       SKILLS
    ===================
    -->
    <section class="mh-skills" id="mh-skills">
        <div class="home-v-img">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title text-center col-sm-12">
                        <!--<h2>Skills</h2>-->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-skills-inner">
                            <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h3>Technical Skills</h3>
                                <div class="each-skills">
                                    {% for tskill in technical_skills %}
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">{{ tskill.name }}</div>
                                                    <div class="percentagem-num">{{ tskill.percentage }}%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width: {{ tskill.percentage }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <h3>Professional Skills</h3>
                            <ul class="mh-professional-progress">
                                {% for pskill in professional_skills %}
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="{{ pskill.percentage }}"></div>
                                        <div class="pr-skill-name">{{ pskill.name }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ===================
       EXPERIENCES
    ===================
    -->
    <section class="mh-experince image-bg featured-img-one" id="mh-experience">
        <div class="img-color-overlay" style="background-color: rgba(255, 255, 255, 0.9);">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-education">
                            <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Education</h3>
                            <div class="mh-education-deatils">
                                <!-- Education Institutes-->
                                {% for e in education %}
                                    <div class="mh-education-item wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s" style="background-color: white">
                                        <h4>{{ e.school }}</h4>
                                        <p style="color: blue">{{ e.level }}</p>
                                        <div class="mh-eduyear">{{ e.duration }}</div>
                                        {% if e.achievements %}
                                            <span>Achievements:</span>
                                            <p>{{ e.achievements|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="mh-education">
                            <h3>Work Experience</h3>
                            <div class="mh-education-deatils">
                                {% for w in work_experience %}
                                    <div class="mh-education-item wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s" style="background-color: white">
                                        <h4>{{ w.company }}</h4>
                                        <p style="color: blue">{{ w.position }}</p>
                                        <div class="mh-eduyear">{{ w.duration }}</div>
                                        {% if w.summary %}
                                            <span>Responsibilities:</span>
                                            <p>{{ w.summary|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    ===================
       PORTFOLIO
    ===================
    -->
    <section class="mh-portfolio" id="mh-portfolio">
        <div class="container">
            <div class="row section-separator">
                <div class="section-title col-sm-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                    <h3>Recent Portfolio</h3>
                </div>
                <div class="part col-sm-12">
                    <div class="portfolio-nav col-sm-12" id="filter-button">
                        <ul>
                            <li data-filter="*" class="current wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s"> <span>All Categories</span></li>
                            <li data-filter=".user-interface" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><span>Web Design</span></li>
                            <li data-filter=".branding" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s"><span>Branding</span></li>
                            <li data-filter=".mockup" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><span>Mockups</span></li>
                            <li data-filter=".ui" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><span>Photography</span></li>
                        </ul>
                    </div>
                    <div class="mh-project-gallery col-sm-12 wow fadeInUp" id="project-gallery" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <div class="portfolioContainer row">
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g1.jpg' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 ui mockup">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g2.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g2.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g3.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g3.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g5.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g5.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 user-interface">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g4.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g4.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g6.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g6.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g8.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g8.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 ui">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g9.png' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g9.png' %}" data-fancybox data-src="#mh"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 branding">
                                <figure>
                                    <img src="{% static 'assets/images/portfolio/g7.jpg' %}" alt="img04">
                                    <figcaption class="fig-caption">
                                        <i class="fa fa-search"></i>
                                        <h5 class="title">Creative Design</h5>
                                        <span class="sub-title">Photograpy</span>
                                        <a href="{% static 'assets/images/portfolio/g7.jpg' %}" data-fancybox="gallery"></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> <!-- End: .grid .project-gallery -->
                    </div> <!-- End: .grid .project-gallery -->
                </div> <!-- End: .part -->
            </div> <!-- End: .row -->
        </div>
        <div class="mh-portfolio-modal" id="mh">
            <div class="container">
                <div class="row mh-portfolio-modal-inner">
                    <div class="col-sm-5">
                        <h2>Wrap - A campanion plugin</h2>
                        <p>Wrap is a clean and elegant Multipurpose Landing Page Template.
                            It will fit perfectly for Startup, Web App or any type of Web Services.
                            It has 4 background styles with 6 homepage styles. 6 pre-defined color scheme.
                            All variations are organized separately so you can use / customize the template very easily.</p>

                        <p>It is a clean and elegant Multipurpose Landing Page Template.
                            It will fit perfectly for Startup, Web App or any type of Web Services.
                            It has 4 background styles with 6 homepage styles. 6 pre-defined color scheme.
                            All variations are organized separately so you can use / customize the template very easily.</p>
                        <div class="mh-about-tag">
                            <ul>
                                <li><span>php</span></li>
                                <li><span>html</span></li>
                                <li><span>css</span></li>
                                <li><span>php</span></li>
                                <li><span>wordpress</span></li>
                                <li><span>React</span></li>
                                <li><span>Javascript</span></li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-fill">Live Demo</a>
                    </div>
                    <div class="col-sm-7">
                        <div class="mh-portfolio-modal-img">
                            <img src="{% static 'assets/images/pr-0.jif' %}" alt="" class="img-fluid">
                            <p>All variations are organized separately so you can use / customize the template very easily.</p>
                            <img src="{% static 'assets/images/pr-1.jif' %}" alt="" class="img-fluid">
                            <p>All variations are organized separately so you can use / customize the template very easily.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ===================
       Testimonial
    ===================
    -->
    <section class="mh-testimonial" id="mh-testimonial">
        <div class="home-v-img">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Client Reviews</h3>
                    </div>
                    <div class="col-sm-12 wow fadeInUp" id="mh-client-review" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>
                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>

                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>
                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>
                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>

                        <div class="each-client-item">
                            <div class="mh-client-item dark-bg black-shadow-1">
                                <img src="{% static 'assets/images/c-1.png' %}" alt="" class="img-fluid">
                                <p>Absolute wonderful ! I am completely
                                    blown away.The very best.I was amazed
                                    at the quality</p>
                                <h4>John Mike</h4>
                                <span>CEO, Author.Inc</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    ===================
       FOOTER 3
    ===================
    -->
    <footer class="mh-footer mh-footer-3" id="mh-contact">
        <div class="container-fluid">
            <div class="row section-separator">
                <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <h3>Contact Me</h3>
                </div>
                <div class="map-image image-bg col-sm-12">
                    <div class="container mt-30">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mh-footer-address">
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item shadow-1 media wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s" style="background-color: white">
                                        <div class="each-icon">
                                            <i class="fa fa-location-arrow"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Address</h4>
                                            <p>{{ seej.profile.address }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item media shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s" style="background-color: white">
                                        <div class="each-icon">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Email</h4>
                                            <a href="mailto:{{ seej.email }}">{{ seej.email }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 xs-no-padding">
                                    <div class="mh-address-footer-item media shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s" style="background-color: white">
                                        <div class="each-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="each-info media-body">
                                            <h4>Phone</h4>
                                            <a href="callto:{{ seej.profile.contact_no }}">{{ seej.profile.contact_no }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator">
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input name="name" class="contact-name form-control" id="name" type="text" placeholder="First Name" required>
                                        </div>

                                        <div class="col-sm-12">
                                            <input name="name" class="contact-email form-control" id="L_name" type="text" placeholder="Last Name" required>
                                        </div>

                                        <div class="col-sm-12">
                                            <input name="name" class="contact-subject form-control" id="email" type="email" placeholder="Your Email" required>
                                        </div>

                                        <div class="col-sm-12">
                                            <textarea class="contact-message" id="message" rows="6" placeholder="Your Message" required></textarea>
                                        </div>

                                        <!-- Subject Button -->
                                        <div class="btn-form col-sm-12">
                                            <button type="submit" class="btn btn-fill btn-block" id="form-submit">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="text-left text-xs-center">
                                            <p>All right reserved Siful Islam @ 2018</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--
    ==============
    * JS Files *
    ==============
    -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="{% static 'assets/plugins/js/jquery.min.js' %}"></script>
    <!-- popper -->
    <script src="{% static 'assets/plugins/js/popper.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'assets/plugins/js/bootstrap.min.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'assets/plugins/js/owl.carousel.js' %}"></script>
    <!-- validator -->
    <script src="{% static 'assets/plugins/js/validator.min.js' %}"></script>
    <!-- wow -->
    <script src="{% static 'assets/plugins/js/wow.min.js' %}"></script>
    <!-- mixin js-->
    <script src="{% static 'assets/plugins/js/jquery.mixitup.min.js' %}"></script>
    <!-- circle progress-->
    <script src="{% static 'assets/plugins/js/circle-progress.js' %}"></script>
    <!-- jquery nav -->
    <script src="{% static 'assets/plugins/js/jquery.nav.js' %}"></script>
    <!-- Fancybox js-->
    <script src="{% static 'assets/plugins/js/jquery.fancybox.min.js' %}"></script>
    <!-- Map api -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- isotope js-->
    <script src="{% static 'assets/plugins/js/isotope.pkgd.js' %}"></script>
    <script src="{% static 'assets/plugins/js/packery-mode.pkgd.js' %}"></script>
    <!-- Custom Scripts-->
    <script src="{% static 'assets/js/map-init.js' %}"></script>
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
{% endblock %}